
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');


@font-face {
    font-family: 'Fira Sans';
    src: url(../fonts/FiraSans-Thin.ttf) format(truetype);
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Sans';
    src: url(../fonts/FiraSans-ExtraLight.ttf) format(truetype);
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Sans';
    src: url(../fonts/FiraSans-Light.ttf) format(truetype);
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Sans';
    src: url(../fonts/FiraSans-Regular.ttf) format(truetype);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Sans';
    src: url(../fonts/FiraSans-Medium.ttf) format(truetype);
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Sans';
    src: url(../fonts/FiraSans-SemiBold.ttf) format(truetype);
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Sans';
    src: url(../fonts/FiraSans-Bold.ttf) format(truetype);
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Sans';
    src: url(../fonts/FiraSans-ExtraBold.ttf) format(truetype);
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Sans';
    src: url(../fonts/FiraSans-Black.ttf) format(truetype);
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kanit';
    src: url(/assets/fonts/Kanit-Bold.ttf) format(truetype);
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

.container {
    padding: 20px 0 0 50px;
}

.text-template__title {
    font-size: 25px;
    margin-bottom: 24px;
    margin-top: 24px;
}

.fira-sans {
    font-family: 'Fira Sans';
}

.caveat {
    font-family: 'Caveat', cursive;
    font-size: 30px;
}

.Cormorant-Garamond {
    font-family: 'Cormorant Garamond', serif;
}